@charset "UTF-8";
/* CSS Document */

body, h1, h2, ul, li {
    margin: 0;
}

body {
    font-size: 16px;
    font-family: Helvetica;
}

header, main, footer {
    max-width: 960px;
    margin: 0 auto;
}

header {
    background-image: url("https://steamuserimages-a.akamaihd.net/ugc/940558231926880229/F47020874646FCD79B676B5E0B2A9DD417DDEE07/?imw=637&imh=358&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true");
    background-position: center;
    height: 200px;
}

header h1 {
    color: #fff;
    padding: 1rem 0 0 2%;
    text-shadow: 2px 2px 5px #000;
    font-size: 3rem;
}

header h2 {
    color: #fff;
    padding: 0.5rem 0 0 2%;
    text-shadow: 2px 2px 5px #000;
}

main h1 {
    color: lightblue;
    padding: 1rem 0 0 2%;
}

main h2 {
    color: darkslateblue;
    padding: 0.6rem 0 0 2%;
}

main p {
    padding: 0.2rem 0 0 2%; 
    line-height: 150%;
}

main ul {
    margin: 0;
}

main ul.objectives li {
    margin-left: 3%;
}

/* main p#attempts {
    font-size: 5rem; 
    margin: 0;
    color: red;
} */

/* main p#feedback {
    font-size: 2rem;
    margin: 0;
    color: green;
} */

/* .articles { 
    display: flex;
    flex-direction: row;
}
main article {
    width: 15%;
}
main article div {
    height: 370px;
    background-color: #fff;
    padding-top: 10px;
}
main article.a1 {
    width: 15%;
}
main article.a2 {
    width: 250px;
}
main article.a3 {
    width: 40%;
}
main article.a4 {
    width: 30%;
    height: 10px;
} */

img {
    height: 100px; /* fixed */
}

/* main article.a2 div {
    text-align: center;
    font-size: 7rem;
} */

/* main article.a1 input {
    border: 1px solid #000;
    width: 97%;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
} */

/* main article.a1 button {
    border: 1px solid #000;
    width: 100%;
    font-size: 1.4rem;
} */

footer {
   background: darkolivegreen; /* fixed */
   clear: both;
}

footer p {
    text-align: center;
    color: #fff;
    padding: 0.5rem 0;
}

/* #ribbon {
    height: 50px;
} */